@media only screen and (min-width: 1280px) {
    .variant-image{
        margin-top: 5%;
    }
}
@media only screen and (max-width: 960px) {
    .navbar-top {
        display: none;
    }
    .bg-blue{
        background: unset;
    }
 
    .bg-blue .nav-item:first-child {
        border-right: none;
    }
    .navbar-nav, .nav-item{
        text-align:center;
        padding:auto;
        border-bottom: 1px solid grey;
        font-size: 15px;
    }
    .navbar-expand-lg .navbar-nav.mx-auto .nav-item{
        padding-right:0;
    }
    footer .navbar-nav,footer .nav-item{
        border:none;
    }
    .no-mobile{
        display: none;
    }
   
    .col-sm-8{
        max-width: 60%;
    }
    .col-sm-4{
        max-width: 40%;
    }
}
@media only screen and (max-width: 575px) {
    .navbar-bottom .navbar-brand {
        max-width: 70%;
    }
    img.d-inline-block.align-top.nav-logo {
        max-width: 250px;
    }
    .navbar {
        padding: 0rem 1rem;
    }
    .nav-link.social-link{
        font-size:13px;
        margin: 0 10px 0 0;
    }
    .nav-link.footer-link{
        margin: 0 8px;
        font-size: 8px;
    }
    .checkout-button{
        padding: 15px 30px;
    }
}
@media screen and (max-width: 480px){
    
}