
    @font-face {
        font-family: UniNeue-HeavyItalic;
        src: url("assets/unineue/UniNeue-HeavyItalic.otf") format("opentype");
    }
    @font-face {
        font-family: UniNeue-Light;
        src: url("assets/unineue/UniNeue-Light.otf") format("opentype");
    }
*{
    font-family: UniNeue-Light;
}
body{
    background: #e5e5e5;
}
/* Color Global Classes */
.bg-extradark{
    background-color: #222;
}
.bg-blue{
    background-color: #00adba;
}
.text-blue{
    color: #00adba;
}

/* Navbar Styles */
.navbar{padding: 0rem 4rem;}
.navbar-top{padding: 0rem 4rem;}
.navbar-bottom .navbar-brand,.navbar-bottom .nav-item{padding: 0.3rem 0}
.nav-link{
    color: #fff;
    font-weight: bolder;
    font-size: 16px;
    text-decoration: none;
}
.navbar-expand-lg .navbar-nav.mx-auto .nav-item {
    padding-right: 30px;
    padding-left: 0;
}
.bg-blue .nav-item{
    font-size: 17px;    
}
.bg-blue .nav-item:first-child{border-right: 2px solid #0088a0;
    transition: all .5s ease;}
.navbar-bottom .bg-blue .nav-item{padding: 0.3rem 0.7rem}
.navbar-top .nav-item{
    padding-right: 30px;
}
.navbar-top .nav-link{
    font-size: 14px;
    color: #222;
    font-weight:bolder;
}
.navi-icon{    margin-right: 10px;}

/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    color: white;
    text-align: center;
 }
.product-spec{      
    padding: 14px 0!important;
    padding-bottom: 10px;
    border-bottom:1px solid #575454;
    font-style: italic;
}
.variant-row{    
    padding: 12px 10px 4px;  
}
.nav-link.social-link{
    font-size:18px;
    padding:0;
    margin: 0 0 0 25px;
}
.footer-link-parent{
    margin: auto 0 auto auto;
}
.nav-link.footer-link{
    font-size:11px;
    padding:0;
    margin: 0 15px;
}
.footer-link-parent .nav-item:not(:last-child){
    border-right: 1px solid #575454;
}
.social-link-parent{
    float:left;
}
.footer-link-parent{
    float:right
}
.static-head{
    display: block;
    font-size: 14px;
    color: #c9c9c9;
    line-height: 19px;
 
}
.dynamic-head{
    color: #fff;
   font-family: UniNeue-HeavyItalic;
    font-size: 24px;
    line-height: 32px;
}
.border-right{
    border-right: 1px solid #fff;
}
.checkout-button{
    background: #00adba;
    border: 1px solid #00adba;
    padding: 15px 80px;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    -ms-box-shadow: 0 6px 12px rgba(0,0,0,.15);
    box-shadow: 0 6px 12px rgb(0 0 0 / 15%);
    -webkit-transition: .5s;
    transition: all ease .5s;
    cursor: pointer;
}
footer .container{
    max-width:85%;
}
/* body content */
.variant-image-src{
    border: 0;
    max-width: 100%;
    vertical-align: top;
}